/* STYLES THAT AFFECT: HOME, ABOUT, CONTACT */
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFF3F7;
}
/*===== HEADER SECTION =====*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
/*===== NAV SECTION =====*/

/*===== FOOTER SECTION =====*/
footer {
    background-color: #FFC4D8;
    color: #DD2013;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.footer-copyright {
    margin: 0 auto;
    padding-top: 15px;
}





/* HOME STYLES */
/* ABOUT STYLES */
/* CONTACT STYLES */