/* STYLES THAT AFFECT: HOME, ABOUT, CONTACT */
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFF3F7;
}
/*===== HEADER SECTION =====*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-bottom: 45px;
}

/*===== NAV SECTION =====*/
nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
}
nav ul li {
    flex: 1;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #DD2013;
    margin-left: 36px;
    margin-right: 36px;
    font-size: 24px;
}
.nav-links {
    background-color: #FFC4D8;
    padding: 20px;
}

/*===== HOME BODY SECTION =====*/
h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
    padding-top: 36px;
}
.home-text {
    color: black;
    font-size: 24px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 16px;
}
.necklace-one {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.necklace-two {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
/*===== ABOUT BODY SECTION =====*/
h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
    padding-top: 36px;
}
.about-text {
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    margin-left: 36px;
    margin-right: 36px;
}
.creator-text {
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    margin-left: 36px;
    margin-right: 36px;
}
.creator-image {
    display: flex;
    justify-content: center;
}
/*===== CONTACT BODY SECTION =====*/
h3 {
    color: #DD2013;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    padding-top: 45px;
}
.contact-text {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
}

/*===== FOOTER SECTION =====*/
footer {
    background-color: #FFC4D8;
    color: #DD2013;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.footer-copyright {
    margin: 0 auto;
    padding-top: 15px;
}

/*===== DESKTOP STYLES =====*/

@media screen and (min-width: 1200px){
    
}




/* HOME STYLES */
/* ABOUT STYLES */
/* CONTACT STYLES */