/* STYLES THAT AFFECT: HOME, ABOUT, CONTACT */
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFF3F7;
}
/*===== HEADER SECTION =====*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
/*===== HOME BODY SECTION =====*/
h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
}
.home-text {
    color: black;
    font-size: 24px;
}
/*===== ABOUT BODY SECTION =====*/
h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
}
.about-text {
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 15px;
}
/*===== ABOUT BODY SECTION =====*/
h3 {
    color: #DD2013;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.contact-text {
    color: black;
    font-size: 24px;
    text-align: center;
}
/*===== NAV SECTION =====*/

/*===== FOOTER SECTION =====*/
footer {
    background-color: #FFC4D8;
    color: #DD2013;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.footer-copyright {
    margin: 0 auto;
    padding-top: 15px;
}





/* HOME STYLES */
/* ABOUT STYLES */
/* CONTACT STYLES */